@model IEnumerable<DrugTest.Models.TestResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<div id="container" style="display: none">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Driver Results</h2>
            <hr/>
            <table id="test" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Driver.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TestBatch.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastModified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    var link = Url.Action("Edit", "TestResults", new { id = item.Id });

                    <tr style="cursor: pointer;" class="urlLink" onclick="window.location = '@link'">
                        <td>
                            @Html.DisplayFor(modelItem => item.Driver.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestBatch.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastModified)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            var table = $('#test').DataTable({
                buttons: [
                    { extend: 'csv', text: 'Export' }
                ]
            });

            table.buttons().container()
                .appendTo('#test_wrapper .col-sm-6:eq(0)');

            document.getElementById("container").style.display = "";
        });
    </script>
}